*,
*::after,
*::before {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
overflow-x: hidden;
margin: 0 auto;
}
a {
text-decoration: none;
color: #FFFFFF;
}
input {
all: unset;
}
button {
border: none;
margin: 0;
padding: 0;
width: auto;
overflow: visible;
background: transparent;
color: inherit;
font: inherit;
line-height: normal;
-webkit-font-smoothing: inherit;
-moz-osx-font-smoothing: inherit;
}
@font-face {
    font-family: "Bestermind";
    src: url("../fonts/BestermindRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    }

.titlepage{
width: 1920px;
height: 1149px;
background: #040404;
}
/* HEADER */

.header--logo{
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 120px;
    padding-top: 32px;
    padding-right: 437px;
}
.header--navigation{
    display: flex;
}
.navigation--list{
padding-top: 46px;
display: flex;
}
.navigation--list__item{
    font-family: 'Open Sans';
    padding-right: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
}
.navigation--list__item:nth-child(5){
    padding-right: 0px; 
}
.header--login{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-left: 271px;
}
.header--line{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -10px;
}
.header--book{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #FFFFFF;
}
.hover:hover{
    color: #DCCA87;
}
.hover:active{
    color: orange;
}
/* MAIN ONE PAGE */
.gericht--newflavour__container{
    display: flex;
}
.gericht--newflavour__containerleft{
    padding-left: 310px;
    padding-top: 207.5px;
}
.gericht--newflavour{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
}
.gericht--newflavour__icons{
padding-top: 8px;
}
.gericht--newflavour__title{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
    width: 454px;
}
.gericht--newflavour__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    width: 440px;
}
.gericht--newflavour__button{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #0C0B08;
background: #DCCA87;
width: 157px;
height: 44px;
margin-top: 32px;
cursor: pointer;
}
.hoverbutton:hover{
    color: #F5EFDB;
}
.hoverbutton:active{
    background: #ad9d62;
}
.gericht--newflavour__img{
padding-top: 95px;
padding-left: 150px;
}
.gericht--newflavour__number{
color: #FFFFFF;
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
padding-top: 78px;
padding-left: 927px;
}
/* BLOCK 2 ABOUT US */

.aboutus{
    width: 1920px;
    height: 959px;  
}
.aboutus--container__bg{
    display: grid;
    position: relative;
}
.aboutus--gbg{
position: absolute;
padding-top: 272px;
padding-left: 765px;
}
.aboutus--knife{
   position: absolute;
   padding-left: 918px;
   padding-top: 128px;
}
.aboutus__containerleft{
    position: absolute;
}
.aboutus--title,.aboutus--title__rh{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
    padding-top: 334px;
    padding-left: 581px;
}
.aboutus--icons{
    padding-left: 793px;
    padding-top: 8px;
}
.aboutus--text,.aboutus--text__rh{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #AAAAAA;
width: 470px;
margin-left: 400px;
padding-right: 0;
padding-top: 32px;
}
.aboutus--text__rh{
    margin-left: 0;
}
.aboutus--text__rh p{
    width: 470px;
}
.aboutus--text p{
    margin-left: 190px;
}
.aboutus--button,.aboutus--button__rh{
 font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #0C0C0C;
width: 141px;
height: 44px;
margin-left: 692px;
margin-top: 32px;
background: #DCCA87;
cursor: pointer;
}
.aboutus--button__rh{
margin-left: 1087px;
}

.aboutus__containerright{
    position: absolute;
}
.block{
    padding-left: 1087px;
}
.aboutus--logo{
    display: grid;
    position: absolute;
}
.aboutus--logo__word{
    margin-top: 300px;
    margin-left: 1623px;
}
.aboutus--logo__scissors{
    position: absolute;
    margin-left: 1663.53px;
    margin-top: 340px;
}
/* BLOCK 3 reservations  */
.reservations{
    width: 1920px;
height: 1293px;
background: #0C0B08;
}
.reservations--container{
    background: #0C0C0C;
border: 1px solid rgba(220, 202, 135, 0.2);
box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
width: 1364px;
height: 466px;
margin-left: 276px;
margin-top: 152px;
position: absolute;
}
.reservations--name{
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #FFFFFF;
text-align: center;
margin-top: 48px;
}
.reservations--icons{
    margin-left: 662px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.reservations--title{
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
text-align: center;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
}
.reservations--button{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #0C0C0C;
width: 133px;
height: 44px;
background: #DCCA87;
border: 1px solid #DCCA87;
margin-left: 617.5px;
margin-top: 196px;
cursor: pointer;
}
/* DROP MENU */
.dropdown{
    width: 412px;
    position: absolute;
    margin: 2em;
}
.dropdown *{
    box-sizing: border-box;
}
.dropdowntwo{
    margin-left: 476px;
}
.dropdownthree{
    margin-left: 920px;
}
.select{
    background: #0C0C0C;
    color: #AAAAAA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F5EFDB;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    height: 60px;
}
.select-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}
.select:hover{
    background: #323741;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
border-top: 6px solid #fff;
transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}
.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}
.menu li:hover{
    background: #2a2d35;
}
.active{
    background: #23242a;
}
.menu-open{
display: block;
opacity: 1;
}
/* BLOCK 4 BAR MENU */
.barmenu{
    width: 1920px;
height: 900px;
display: grid;
}
.barmenu--logo{
    display: grid;
    position: absolute;
}
.barmenu--logo__word{
    padding-left: 145px;
    padding-top: 10px;
}
.barmenu--logo__scissors{
    padding-left: 185px;
   position: absolute;
   margin-top: 50px;
}
.barmenu--container{
position: absolute;
padding-left: 145px;
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #FFFFFF;
padding-top: 293px;
}
.barmenu--food{
    margin-top: 64px;
    margin-bottom: 64px;
}
.barmenu--menu:hover{
text-decoration-line: underline;
text-transform: capitalize;
cursor: pointer;
}
.barmenu--food:hover{
    text-decoration-line: underline;
    text-transform: capitalize;  
    cursor: pointer;  
}
.barmenu--dessrts:hover{
    text-decoration-line: underline;
    text-transform: capitalize;
    cursor: pointer;    
}
/* BLOCK 5 TODAY MENU */
.todaymenu{
    width: 1920px;
    height: 1274px;
    background: #040404;
}
.todaymenu--pallate{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
color: #FFFFFF;
text-align: center;
padding-top: 152px;
}
.todaymenu--icons{
padding-left: 940px;
padding-top: 8px;
padding-bottom: 8px;
}
.todaymenu--title{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
}
.todaymenu--prise__containerleft{
    position: absolute;
}
.todaymenu--prise__title{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #FFFFFF;
padding-left: 394.5px;
padding-top: 96px;
margin-bottom: 48px;
}
.todaymenu--pic__container{
    display: grid;
}
.todaymenu--picture{
    position: absolute;
    padding-left: 754px;
    padding-top: 64px;
}
.todaymenu--name__container{
    display: flex;
    align-items: center;
}
.todaymenu--name{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
margin-left: 310px;
}
.todaymenu--line{
width: 119px;
height: 1px;
background: #FAFAFA;
margin-left: 32px;
margin-right: 32px;
}
.todaymenu--prise{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #FFFFFF;
}
.todaymenu--name__bottle{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #AAAAAA;
padding-left: 310px;
padding-top: 8px;
padding-bottom: 41.5px;
}
.todaymenu--prise__containerright{
    position: absolute;
    padding-left: 888px;
}
.todaymenu--button{
width: 136px;
height: 44px;
background: #DCCA87;
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #0C0C0C;
margin-left: 900px;
margin-top: 796px;
cursor: pointer;
}
/* BLOCK 6 CHEF */
.chef{
    background-image: url('../img/BG\ \(1\).png');
    background-repeat: no-repeat;
    width: 1920px;
height: 1045px;
}
.chef--pictures{
    padding-top: 128px;
    padding-left: 310px;
    position: absolute;
}
.chef--info__container{
  padding-left: 1040px;  
  padding-top: 215px;
}
.chef--word{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #FFFFFF;
}
.chef--icon{
    padding-top: 8px;
    padding-bottom: 8px;
}
.chef--title{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
padding-bottom: 76px;
}
.chef--text{
font-family: 'Open Sans';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #AAAAAA;
width: 540px;
padding-bottom: 64px;
}
.chef--kevin{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87; 
}
.chef--founder{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #AAAAAA;
padding-top: 8px;
padding-bottom: 64px;
}
.chef--signature{
font-family: 'Bestermind';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 130%;
letter-spacing: 0.04em;
color: #AAAAAA;
}
.chef--logo{
    display: grid;
}
.chef--logo__word{
    padding-left: 1553.95px;
    padding-top: 145px;
}
.chef--logo__scissors{
    position: absolute;
    padding-left: 1594px;
    padding-top: 190px;
}
/* BLOCK 7 Testimony */
.testimony{
    width: 1920px;
    height: 990px;
    background: #0C0C0C;
}
.testimony--name__page{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    text-align: center;
    padding-top: 152px;
}
.testimony--icon{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 940px;
}
.testimony--title{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
    text-align: center;
}
.testimony--container{
    display: flex;
    position: absolute;
}
.testimony--photo__container{
    display: grid;
    padding-left: 340px;
    padding-top: 50px;
}
.testimony--quotes{
    position: absolute;
    margin-top: 170px;
    margin-left: 159px;
}
.testimony--text{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;  
    width: 380px;
    margin-top: 50px;
    margin-bottom: 16px;
}
.testimony--container__info{
    margin-left: 32px;
}
.testimony--name{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
    padding-top: 0;
   text-align: left;
   margin-bottom: 8px;
}
.testimony--caterer{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #F5EFDB;
}
.testimony--containerbt{
    display: flex;
    position: absolute;
    margin-top: 300px;
}
.testimony--containerrh{
    padding-left: 640px;
    display: flex;
    margin-bottom: 60px;
}
/* BLOCK 8 VIDEO */
.video{
    background-image: url('../img/Video.png');
    width: 1920px;
height: 763px;
}
.video--logo{
    display: grid;
}
.video--logo__word{
    padding-top: 147px;
    padding-left: 197px;
}
.video--logo__scissors{
    position: absolute;
    padding-top: 190.72px;
    padding-left: 237.53px;
}
/* BLOCK 9 laurels */
.laurels{
    background-image: url('../img/Laurels.png');
    width: 1920px;
height: 947px;
}
.laurels--container{
    padding-left: 310px;
    padding-top: 246.5px;
    position: absolute;
}
.laurels--name__page{
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #FFFFFF;
}
.laurels--icon{
    padding-top: 8px;
    padding-bottom: 8px;
}
.laurels--title{
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
padding-bottom: 64px;
}
.laurels--container__info{
    display: flex;
    position: absolute;
}
.laurels--container__infobt{
    padding-top: 170px;
    position: absolute;
    display: flex;
}
.laurels--container__inforh{
    position: absolute;
    padding-left: 300px;
    display: flex;
}
.laurels--container__inforhbt{
    position: absolute;
    padding-left: 300px;
    display: flex;
    padding-top: 170px;
}
.laurels--info__title{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
margin-left: 32px;
width: 175px;
}
.laurels--info__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    position: absolute;
    margin-left: 111px;
    margin-top: 38px;
width: 190px;
}
.laurels--pictures__container{
    display: grid;
    padding-top: 128px;
    padding-left: 1127px;
}
.laurels--g{
    position: absolute;
    color: #FAFAFA;
    margin-top: 312px;
    margin-left: -72px;
}
/* BLOCK 10 BLOGS */
.blogs{
    width: 1920px;
    height: 1388px;
    background: #0C0B08;
}
.blogs--name__page{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #FFFFFF;
text-align: center;
padding-top: 152px;
}
.blogs--icon{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 940px;
}
.blogs--title{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
text-align: center;
}
.blogs--container{
    display: flex;
    padding-left: 301px;
}
.blogs--info__container{
    padding-left: 23px;
    padding-top: 64px;
}
.blogs--year__container{
    display: flex;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #FAFAFA;
margin-top: 24px;
margin-bottom: 32px;
}
.blogs--name{
    margin-left: 238px;
}
.blogs--namejuice{
   margin-left: 219px; 
}
.blogs--nametomat{
    margin-left: 260px;
}
.blogs--info__title{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87; 
    width: 412px;
    margin-bottom: 32px;
}
.blogs--info__text{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #AAAAAA;
width: 352px;
margin-bottom: 32px;
}
.blogs--info__readmore{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #DCCA87;
cursor: pointer;
}
.blogs--button{
 width: 136px;
height: 44px;
background: #DCCA87;
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #0C0C0C;
margin-top: 72px;
margin-left: 892px;
position: absolute;
}
.blogs--logo{
    display: grid;
    position: absolute;
}
.blogs--logo__word{
    padding-left: 1682px;
}
.blogs--logo__scissors{
    position: absolute;
    padding-left: 1722px;
    margin-top: 40px;
}
/* BLOCK 11 INSTA */
.insta{
    background-image: url('../img/BG\ \(1\).png');
    width: 1920px;
height: 705px;
}
.insta--container{
    display: flex;
}
.insta--name__page{
padding-left: 310px;
padding-top: 210px;
 font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #FFFFFF;
}
.insta--icon{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 310px;
}
.insta--title{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
padding-left: 310px;
padding-bottom: 24px;
}
.insta--text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    width: 750px;
    padding-left: 310px;
    padding-bottom: 24px;
}
.insta--button{
width: 136px;
height: 44px;
background: #DCCA87;
border: 1px solid #DCCA87;
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #0C0C0C;
margin-left: 310px;
}
.insta--container__photo{
    position: absolute;
    padding-left: 865px;
    padding-top: 129px;
    display: flex;
    
}
.insta--wisky{
margin-left: 32px;
margin-right: 32px;
}
.insta--logo{
    display: grid;
}
.insta--logo__word{
    padding-top: 150px;
    padding-left: 106px;
}
.insta--logo__scissors{
    position: absolute;
    margin-left: 146.53px;
    margin-top: 194.22px;
}
/*BLOCK 12 SUBSCRIBE  */
.subscribe{
    width: 1920px;
    height: 334px;
    background: #040404;
}
.subscribe--container{
width: 1300px;
height: 442px;
background: #0C0C0C;
border: 1px solid rgba(220, 202, 135, 0.2);
box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
margin-left: 310px;
margin-top: 113px;
position: absolute;
}
.subscribe--name{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    text-align: center;
    margin-top: 64px;
}
.subscribe--icon{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 630px;
}
.subscribe--title{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
text-align: center;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
margin-bottom: 24px;
}
.subscribe--text{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
margin-bottom: 64px;
}
.subscribe--search__container{
    display: flex;
    align-items: center;
}
.subscribe--search{
    border: 1px solid #F5EFDB;
    width: 635px;
height: 60px;
margin-left: 252px;
padding-left: 18.94px;
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #AAAAAA;

}
.subscribe--search:focus{
    color: #9fa5b5;
}
.subscribe--button{
width: 129px;
height: 44px;
background: #DCCA87;
border: 1px solid #DCCA87; 
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #0C0C0C; 
margin-left: 64px;
cursor: pointer;
}
/* BLOCK 13 FOOTER */
.footer{
    background-image: url('../img/BG\ \(1\).png');
    width: 1920px;
height: 837px;
}
.footer--container__info{
    display: flex;
}
.footer--container__infoleft{
padding-top: 387px;
}
.footer--info__title{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #F5EFDB;
margin-bottom: 24px;
padding-left: 387.5px;
}
.footer--info__text{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em; 
color: #AAAAAA;
padding-left: 310px;
margin-bottom: 8px;
}
.footer--info__mobile{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA; 
    padding-left: 390.5px;
}
.footer--container__infocenter{
padding-top: 349px;
}
.footer--infocenter__title{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #DCCA87;  
    margin-left: 180px;
    margin-bottom: 32px;
}
.footer--infocenter__text{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #FFFFFF;
margin-left: 126px;
width: 390px;
text-align: center;
margin-bottom: 16px;
}
.footer--infocenter__icon{
    margin-bottom: 18.64px;
    margin-left: 300px;
}
.footer--infocenter__social{
    display: flex;
    margin-left: 259.61px;
    margin-bottom: 82.64px;
}
.social--twitter{
 margin-left: 24px;
 margin-right: 19px;   
}
.footer--infocenter__bottom{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
text-align: center;
letter-spacing: 0.04em;
color: #AAAAAA;
margin-left: 195px;
}
.footer--container__inforh{
    padding-top: 374px;
    padding-left: 258px;
}
.footer--inforh__title{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #F5EFDB;
margin-bottom: 24px;
}
.footer--inforh__day,.footer--inforh__time{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
text-align: center;
letter-spacing: 0.04em;
color: #AAAAAA;
margin-bottom: 4px;
}